@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&display=swap');

h1 {
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}


#bg {
  background-image:
    url("https://i.imgur.com/RKkTc5X.jpg");
    background-size:cover;
    
    /*box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);*/
}

#home-page-1 {
  background-color: #E6E8EB;
  height: 60vh;
  margin-top: 4vh
}

#home-page-2 {
  background-color: red;
  height: 60vh;
  color: white;
}

#home-page-3 {
  background-color: blue;
  height: 60vh;
  color: white;
}

#home-page-4 {
  background-color: #E6E8EB;
  height: 60vh;
  
}

#home-page-5 {
  /*background-color: white;*/
  height: 40vh;
  margin-top: -6vh;
}